/* default overwrite */
*,
* ::before,
* ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif, "poppins";
  list-style: none;
  text-decoration: none;
  color: var(--white);
  outline: none;
  letter-spacing: 1px;
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--gray);
  padding: 0.5rem 10px;
}

:root {
  /* 17 colors defined */
  --default: rgb(212, 212, 212);
  --white: #fff;
  --black: #343a40;
  --blue: #007bff;
  --red: #f04235;
  --green: #28a745;
  --yellow: #ffc107;
  --orange: #fd7e14;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --graydark: #343a40;
  --skyblue: #57e6fc;
  --light: #f8f9fa;
  --lightgray: #f1f1f1;
  --padding: 0.5rem;
  --disabled: #a0a6ab;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: var(--default);
  color: var(--white);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn:hover {
  filter: grayscale(25%);
}

.btn:disabled {
  background: var(--disabled);
}

/* container paragraph and start page  */
p,
.text {
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.container {
  position: relative;
  padding: 0.5rem;
  width: 92vw;
  min-height: 250px;
  max-height: 90vh;
  height: auto;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  gap: 1rem;
  border-radius: 5px;
  background: var(--graydark);
  color: #fff;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem 0;
}

.start-quiz {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* quiz rules page  */
.quiz-rules {
  margin: 1rem 0;
  width: 100%;
  height: 100%;
}

.quiz-rules ul {
  overflow: auto;
  background: var(--black);
  border-radius: 5px;
  padding: 0.3rem;
  width: 95%;
  min-height: 300px;
  max-height: 90vh;
  border: 1px solid white;
}

.quiz-rules ul li {
  overflow: auto;
  text-align: left;
  position: relative;
  padding-left: 1rem;
  margin: 5px 0;
}

.quiz-rules ul li::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  background: var(--orange);
  border-radius: 50%;
  left: 5px;
  left: 0;
  top: 0.7rem;
  transform: translateY(-50%);
}

/* quiz result page */
.quiz-result {
  margin: 2rem 0;
  gap: 0.5rem 0;
}

/* quiz format page  */
.quiz-format {
  width: 100%;
  width: auto;
}

.quiz-format .question,
.quiz-format .currentQues {
  text-align: left;
  margin: 0.8rem;
}

.quiz-format .currentQues {
  border-bottom: 1px solid var(--orange);
}

.quiz-format ul {
  width: 100%;
  margin: 0.8rem 0;
  justify-content: center;
  gap: 0.2rem;
}

.quiz-format ul li {
  --padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  padding: var(--padding) 0;
  width: calc(100% - var(--padding) * 4);
  border: 1px solid var(--default);
  border-radius: 5px;
}

.quiz-format ul li label {
  justify-self: left;
  text-align: left;
  /* font-weight: 400; */
  font-size: 1.2rem;
}

.quiz-format ul li input[type="radio"] {
  justify-self: center;
}

.quiz-format .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding) * 2);
}

/* utilities */
.bg-orange {
  background-color: var(--orange);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.te-center {
  text-align: center;
}

/* On screens that are 992px or less,  */
@media screen and (max-width: 992px) {
  html {
    font-size: 70%;
  }
}

/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}
